body {
    margin: 0;
    padding: 0;

    min-height: 100vh;
    max-width: 100vw;

    background: radial-gradient(circle, rgba(255, 255, 255, 1) 63%, rgba(215, 205, 189, 1) 100%);
    background: url(../img/kanji_02.png) center/cover no-repeat fixed;
    background-blend-mode: hard-light;

}

.grandFather {
    display: flex;
    flex-direction: column;
    justify-content:center ;
}

/* HEADER SECTION*/

.topFather {
    height: 20em;

    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;

}

.imgtitle {
    height: 7.5em;
    object-fit: cover;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

}

.imglogo {
    height: 7.5em;
    object-fit: cover;
}

/* NAVIGATION */

.nav {
    font-size: 90%;
    letter-spacing: 1em;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    
}
a:hover {
    height: 4em;
    color:  rgb(221, 122, 122);
}

.navButton {
    height: 3em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.divider {
    height: 1em;
    background-color: rgb(221, 122, 122);
}

.imgCoverIndex {
    height: 20em;
    background-image: url(../img/shushi_01.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.imgcovercontact {
    height: 20em;
    background-image: url(../img/shushi_02.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.imgsushi {
    background-image: url(../img/sushianime.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* MID SECTION */

/* Index */

.midFather {
    height: 70em;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.rightMid:hover{
    background: rgb(233,176,176);
    background: radial-gradient(circle, rgba(233,176,176,0.7021183473389356) 0%, rgba(255,255,255,0) 56%);
}
.leftMid,
.rightMid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: auto;
    text-align: center;
    line-height: 2em;

    height: 40em;
}
.leftMid p{
    width: 90%;
}
.subtitle {
    color: rgb(177, 29, 29);
    font-weight: bold;
}
.rightMid {
    overflow:auto ;
    text-align: center;
    letter-spacing: .1em;
    line-height: 1.4em;
}
.rightMidContact {
    overflow:auto ;
    text-align: center;
    letter-spacing: .1em;
    line-height: 1.4em;
}
.boxFather {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.contactBox {
    height: 9em;
    width: 10em;
    overflow: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactBox:hover {
    border:none;
    background: rgb(233,176,176);
    background: radial-gradient(circle, rgba(233,176,176,0.7021183473389356) 0%, rgba(255,255,255,0) 56%);
}
/* Menu */
.food {
    height: 20em;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;

    text-align: center;

}

.descFood,
.infoFood {
    margin: .2em;
    height: 10em;
    width: 18em;

    text-align: center;    

    font-size:1.3em;
    overflow: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    object-fit: contain;
    color: #000000;
    background: rgb(233,176,176);
    background: radial-gradient(circle, rgba(233,176,176,0.7021183473389356) 0%, rgba(255,255,255,0) 56%);
}
.colorPrice {
    color: rgb(177, 29, 29);
}
.price {
    font-weight: bold;

    visibility: hidden;
    height: 5em;
    width: 6em;
}
img:hover + .price {
    visibility: visible;
    transition: 2s;
}
/* FOOTER SECTION */

.botFather {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 59%, rgba(219, 140, 140, 1) 100%);

}

.leftBot,
.rightBot {
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    object-fit: contain;
}
.rightBot {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.rrss {
    height: 2em;
    width: 2em;
    margin: 2em;

}